<link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
<form method="POST" action="/dql">
<input type="text" name="test"/>
<input type="submit" value="search">
</form>

<h1> Books list </h1>
{% set nbpublished = 0 %}
{% set nbnonpublished = 0 %}

<table>
<tr>  <th> Title </th> <th> Category </th><th> Publication Date </th> <th>Published </th> <th>Author </th> <th>Actions </th></tr>
{% if response is not empty %}
{% for t in response %}
{% if (t.isPublished()==1) %}
{% set nbpublished = nbpublished + 1 %}
<tr>
<td>{{t.title}} </td> <td>{{t.category}} </td><td>{{t.publicationDate|date('Y-m-d')}} </td><td>{{t.published}} </td><td>{{t.author}} </td><td><a href={{ path('BookupdateF',  {'ref' : t.ref}) }}> Edit</a><a href={{ path('Bookremove',  {'ref' : t.ref}) }}> Delete</a><a href={{ path('ShowBook',  {'ref' : t.ref}) }}> Show</a></td>
</tr>
{% else %}
{% set nbnonpublished = nbnonpublished + 1 %}
{% endif %}
{% endfor %}
</table>
<p>Number of published books: {{nbpublished}}</p>

 <p>Number of unpublished books: {{nbnonpublished}}</p>
{% elseif response is empty %}
<h1> NO BOOKS FOUND </h1>
{% endif %}

<a href={{ path('BookaddF') }}><button> Create new </button> </a>


